.project_list{
    margin: 0 0 5% 0;
    padding: 0;
}

.project_list{
    dispaly : auto;
}

@media (min-width : 1000px) {

    .container{
        flex-direction: column;
        align-items: center;
        width : 100%;
    }

    .project_list{
        margin: 0;
        padding: 0;
        display: flex;
    }
}
