.toolbar {
    position: fixed;
    top: 0;
    left : 0;
    width: 100%;
    height: 45px;
    z-index: 100;
    background-color: rgba(17, 17, 17, 0.5);
    -webkit-transition: background-color 600ms;
    transition: background-color 600ms;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1.1px;
}

.toolbar_navigation{
    display : flex;
    height : 100%;
    align-items: center;
    padding : 0 1rem;
    scroll-behavior: smooth;
}


.toolbar_logo a {
    color : white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex : 1;
}

.toolbar_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.75rem;
}

.toolbar_navigation-items a {
    font-size: 24px;
    text-decoration: none;
    color : white;
}


.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
    cursor: pointer;
    color : #F33446;
}

@media (max-width: 600px){
    .toolbar_navigation-items{
        display : none;
    }
}
