.Prntscrn {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    width: 95%;
    margin: auto auto 2% auto;
    transition: 0.3ms;
    position : relative;
    size : auto;
}


.Prntscrn b {
    font-size: calc(12px + 5vmin);
    color: white;
}

.Prntscrn li{
    list-style-position: inside;
    align-items: center;
    text-align: left;
    padding: 0 0.75rem;
    word-break: break-word;
    font-size: calc(12px + 2vmin);
}

@media (max-width: 820px) {

}


