.side_drawer{
    background: white;
    height : 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    position : fixed;
    top : 0;
    left : 0;
    width : 65%;
    max-width: 300px;
    z-index : 1001;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side_drawer ul {
    height : 100%;
    list-style: none;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right : 25%;
}

.side_drawer li{
    margin  : 0.5rem;
}

.side_drawer a{
    text-decoration: none;
    color : black;
    font-size : 1.2rem
}

.side_drawer a:hover,
.side_drawer a:active{
    color: #F33446;
    cursor : pointer;
}

.side_drawer.open {
    transform: translateX(0);
}

@media (min-width : 600px){

    .side_drawer.open{
        display : none;
    }
}
