.App {
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 35vmin;
  width: 35vmin;
  pointer-events: none;
  border-radius:50%;
  display: inline-block;
  overflow: hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


.App-header {
  position : relative;
  top : 0;
  left : 0;
  width : 100%;
  height: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 3vmin);
  color: white;
  background-color: #334055;
}

.beginning h1{
  margin : 0;
}

.beginning h2{
  margin : 0;
}
.App-body{
  font-size: 200vh;
}

.App-link {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
}
h3{
  font-size: calc(12px + 5vmin);
  background-color: #334055;
  width: 100%;
  height : 100%;
  color : white;
}

h4{
  height : 100%;
  width : 100%;
}
